html, body {
	height: 100%;
	width: 100%;
}

#message-holder { margin: 5px 5px 5px 5px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 5px; margin-bottom: 2px; margin-top: 2px; }
/*#messages li:nth-child(odd) { background: #eee; }*/

.navbar {
	margin-bottom: 0;
}

#smaller-modal {
	width: 300px;
}

#manual-body {
	height: 500px;
	overflow-y: scroll;
}
#manual-body img {
	height: 70px;
	width: auto;
}
#manual-body img.normal {
	height: 96px;
	width: 71px;
}
.some-container {
	height: 90%;
}
.fill {
	position: relative;
	top: 4px;
	height: 100%;
	min-height: 100%;
	margin: 0 0 0 0;
}

#gameboard
{
	right: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	overflow-y: scroll;
}
	#cardholder
	{
		position:relative;
		margin-top: 10px;
	}
	#button-area
	{
		position:relative;
		margin-top: 10px;
	}
	#countdown
	{
		position:relative;
		margin-top: 10px;
		float: right;
	}
	#field-display
	{
		position:relative;
		margin-top: 10px;
	}
	#other-players
	{
		position:relative;
		margin-top: 10px;
	}
	.navbar-right-buttons
	{
		margin-top: 8px;
	}
#log
{
	left: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
#chat-input-holder
{
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	height: 9.5%;
	min-height: 9.5%;
	/*border-style: solid;
	border-width: 1px;
	border-color: gray;*/
}
#message-holder
{
	position: absolute;
	width: 100%;
	top: 0px;
	padding-left: 5px;
	padding-right: 5px;
	height: 90%;
	min-height: 90%;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	margin: 0px 0px 0px 0px;
	overflow-y: scroll;
}
#chat-box {
     width: 100%;
	 height: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}